.nav {
    grid-area: nav;
    background-color: rgb(102, 255, 153);
}

.item a {
    color: rgb(102, 0, 255);
    text-decoration: none;
}

.item a:hover {
    color: rgb(51, 51, 0);
    text-decoration: none;
}

.item.active a{
    color: rgb(51, 51, 0);
}